<%= link_to 'Czat', root_path, class: "item" %>
<a class="item">
  Wiadomosci
</a>
<div class="right menu">
  <div class="ui dropdown item">
    Konto <i class="dropdown icon"></i>
    <div class="menu">
      <%= link_to 'Zaloguj sie', login_path, class: "item" %>
      <a class="item">Wyloguj sie</a>
      <a class="item">Zarejestruj sie</a>
    </div>
  </div>
  <div class="item">
      <div class="ui teal button">Zarejestruj sie</div>
  </div>
</div>
