<a class="item">
  Czat
</a>
<a class="item">
  Wiadomosci
</a>
<div class="right menu">
  <div class="ui dropdown item">
    Konto <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item">Zaloguj sie</a>
      <a class="item">Wyloguj sie</a>
      <a class="item">Zarejestruj sie</a>
    </div>
  </div>
  <div class="item">
      <div class="ui primary button">Zarejestruj sie</div>
  </div>
</div>
